@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot");
  src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix") format("embedded-opentype"), local("Noto Sans"), local("Noto-Sans-regular"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2") format("woff2"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff") format("woff"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf") format("truetype"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans") format("svg");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot");
  src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold"), local("Noto-Sans-700"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff2") format("woff2"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff") format("woff"), url("../fonts/Noto-Sans-700/Noto-Sans-700.ttf") format("truetype"), url("../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans") format("svg");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot");
  src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Italic"), local("Noto-Sans-italic"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2") format("woff2"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff") format("woff"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf") format("truetype"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans") format("svg");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot");
  src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold Italic"), local("Noto-Sans-700italic"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2") format("woff2"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff") format("woff"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf") format("truetype"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans") format("svg");
}

.highlight .s {
  color: #d14;
}

.highlight {
  background-color: #f8f8f8;
}

body {
  background-color: #fff;
  padding: 50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
}

h1, h2 {
  color: #222;
  margin: 0 0 20px;
}

p, ul, ol {
  margin: 0 0 20px;
}

h1, h2 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

a {
  color: #267CB9;
  text-decoration: none;
}

a:hover, a:focus {
  color: #069;
  font-weight: bold;
}

img {
  max-width: 100%;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {
  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }
  header {
    padding-right: 320px;
  }
  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }
  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}
@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }
  header {
    padding: 0;
  }
  header ul {
    position: static;
  }
}
@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
}
@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}