---
---
<li class="bibliography-item">
  {%- assign entry = entry -%}
  {%- if entry.url -%}
    <span class="title"><a href="{{ entry.url }}" target="_blank" rel="noopener">{{ entry.title }}</a></span>
  {%- else -%}
    <span class="title">{{ entry.title }}</span>
  {%- endif -%}
  {%- if entry.author -%}
    <span class="author">. {{ entry.author }}</span>
  {%- endif -%}
  {%- if entry.journal -%}
    <span class="journal">, <em>{{ entry.journal }}</em></span>
  {%- elsif entry.booktitle -%}
    <span class="booktitle">, <em>{{ entry.booktitle }}</em></span>
  {%- endif -%}
  {%- if entry.year -%}
    <span class="year">, {{ entry.year }}</span>
  {%- endif -%}
</li>
